@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

* { box-sizing: border-box; }

body { font-family: 'Quicksand', sans-serif; }

#content {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}



input {
    border: none;
    margin: 10px;
    border-radius: 5px;
    padding: 5px 15px;
}

#text {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#title {
    font-family: 'Lucida Grande',Arial,sans-serif;
    font-weight: 10;
    font-style: normal;
    font-size: 32px;
    margin: 21px 21px 12px;
    line-height: 34px;
}

#name {
    font-family: 'Lucida Grande' ,Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #79828B;
    margin: 12px 21px;
    font-style: normal;
}

#story {
    font-family: 'Lucida Grande','Times New Roman',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    padding: 0;
    margin-left: 32px;
    color: rgba(0,0,0,.8);
}

#publish {
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

